@use '../App.module' as app

.details
    margin: 0px auto
    width: 500px
    text-align: center
    
    .parag, .title
        font-family: sans-serif
        color: app.$text-primary

    .title
        font-size: 24px

.loading
    text-align: center
    font-size: 25px
    margin: 20px 0px