@use '../App.module' as app

.card
    display: flex
    justify-content: space-between
    align-items: baseline
    background: app.$card-background
    border-radius: 10px
    padding: 0px 10px
    margin: 10px 0px

    .pokemonName
        font-family: sans-serif
        font-size: 24px
        color: app.$text-primary

    .pokemonDetails
        text-decoration: none
        color: app.$text-primary
        font-size: 12px
        background: app.$button-background
        padding: 5px
        border-radius: 5px
        font-family: sans-serif